In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

rangeを使いリストを作成できる。また表示したい部分を,で範囲が変えられる

In [113]:
name = 'yabuki'

In [115]:
len(name)

TypeError: 'str' object is not callable

In [116]:
name.upper()

'YABUKI'

In [45]:
address='Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [46]:
address.split(',')

['Tokyo', 'Japan']

In [47]:
address.index('T')

0

In [48]:
address.index('p')

8

In [53]:
address.upper()

'TOKYO,JAPAN'

In [62]:
address.lower()

'tokyo,japan'

In [66]:
from datetime import *
date_a = date(2008,1,1)
date_b = date(2008,1,5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [75]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [76]:
date_a.year

2008

date a.year
() データにアクセスするだけ　メソッド
name.upper()
()なし 何らかの処理がある　属性

In [103]:
birthday = date(1997,8,23)

In [104]:
date.today()

datetime.date(2017, 5, 17)

In [105]:
today = date.today()

In [106]:
result = today - birthday

In [107]:
print(result)

7207 days, 0:00:00

In [108]:
today.weekday()

2

In [109]:
date_a

datetime.date(2008, 1, 1)

In [111]:
date_a.weekday()

1

In [117]:
date_c=date(2000,5,5)

In [120]:
tmp='2000,5,5'

In [121]:
tmp2=(2000,5,5)

新しいオブジェクトを作る

In [2]:
name='yabuki'

In [3]:
len(name)

6