In [1]:
a=[1,2,3,4,5]

In [2]:
合計/データ数

SyntaxError: invalid character in identifier (<ipython-input-2-0be5810dcb6b>, line 1)

合計＝順番に足した結果

In [3]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [4]:
a=[1,2,3,4,5]
for p in a:
    print(p)

1
2
3
4
5

aの各要素をｐと呼び、ｐがprintする

In [5]:
a=[1,2,3,4,5]
for p in a:
    print("hello")
    print("world")

hello
world
hello
world
hello
world
hello
world
hello
world

In [7]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [11]:
s=0
for x in a:
    s=s+x
    
s

15

In [15]:
s=0
for x in a:
    s=s+x
    
s/len(a)#s=s/len(a)のこと

3.0

その場で処理する

In [14]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [17]:
s=0.0
for val in list_tohoku:
    s+=val
s /=len(list_tohoku)

print(s)

5340.333333333333

In [18]:
(3149+2991+2966+2457)/4

2890.75

In [19]:
 list_shikoku = [3148, 2991, 2966, 2457]
    
s=0 
for x in list_shikoku:
    s+=x
s/len( list_shikoku)

2890.5

In [20]:
from statistics import *

In [21]:
mean(list_shikoku)

2890.5

mean(average）の中にいれると平均がでる
直接数字を打ち込んでもでる

In [24]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [25]:
dic={'A':100,'B':20,'C':3000}

In [26]:
for x in dic:
    print(x)

A
B
C

順番に並べる

In [28]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [37]:
s=0
for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [43]:
a=[5,4,3,2]
s=0
for x in a:
    s+=x
s/len(a)

3.5

In [45]:
b={'A':10,'B':100,'C':1000}
s=0
for x in b:
    s+=b[x]
    
s/len(b)

370.0

In [49]:

s=0
for x in b.values():
    s+=x
s/len(b)

370.0

In [50]:
c={10:'A',100:'B',1000:'C'}
s=0
for x in c:
    s+=x
s/len(c)

370.0